<h1>Your tasks</h1>
<div class="border-bottom pb-3 mb-3">
  <ul style="list-style-type: none;">
    <% @tasks.each do |task| %>
      <li>
        <%= raw task.completed == true ? "<i class=\"fa-regular fa-square-check\"></i>" : "<i class=\"fa-regular fa-square\"></i>" %>
        <%= link_to task.title, task_path(task) %> · <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                                                         <i class="fa-regular fa-trash-can"></i>
                                                      <% end %>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to new_task_path do %>
  <i class="fa-solid fa-plus"></i> Add a new task
<% end %>
